@model Retrospective.Models.MostCommonWordsModelView
@{
    ViewBag.Title = "Most Common Words";
}

<div id="page-wrapper">
    <br />
    <div class="container-fluid">
        <br />
        <b>@ViewBag.Title: </b>
        <div class="table-hover" style="overflow-x:auto">
            <table class="table table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Words</th>
                    </tr>
                </thead>
                @foreach (var word in Model.MostCommonWords)
                {
                    <tr>
                        <td>@Html.ActionLink(@word.Item, "Index", "ActionPlanComments", new {Comment = @word.Item}, null) </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>

